<launch>  
  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find project2)/params/ekf_template.yaml" />

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
  <node pkg="project2" type="filter" name="filter" clear_params="true">


    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
  <node pkg="project2" type="odom" name="odom" clear_params="true">


    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
  <node pkg="project2" type="translator" name="translator" clear_params="true">

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
  
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" respawn="true" clear_params="true">
      <rosparam command="load" file="$(find project2)/params/gps.yaml" />

    <param name="magnetic_declination_radians" value="0"/>

    <param name="yaw_offset" value="0"/>

    <remap from="/gps/fix" to="/swiftnav/rear/gps" />


  </node>
  

  
</launch>
